.mainCheckbox {
  display: inline-flex;
  cursor: pointer;
  margin-right: 10px;
}

.inputCheckbox {
  display: none;
}

.spanCheckbox {
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  border-radius: 50%;
  position: relative;
  background-color: #ffffff;
}

.spanCheckbox::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 2px;
  width: 3px;
  height: 5px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.mainCheckbox input:checked + .spanCheckbox {
  background-color: #0233f8;
  border: 1px solid #0233f8;
}

.mainCheckbox input:checked + .spanCheckbox::after {
  opacity: 1;
}
