.li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: 10px 0;
  padding: 0 10px;
  height: 50px;
  border-radius: 4px;
}

.container {
  display: flex;
  gap: 80px;
  align-items: stretch;
  justify-content: center;
}

.input {
  width: 100%;
  padding: 4px;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  background: transparent;
  font-size: 13px;
  padding-top: 15px;
}

.button {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.buttonSave {
  background-color: blue;
  color: white;
  border-radius: 4px;
  background-color: blue;
  border: 1px solid rgb(35, 35, 211);
  cursor: pointer;
}

.buttonSave:hover {
  background-color: rgb(6, 6, 173);
  border: transparent;
}

.buttonCancel {
  background-color: blue;
  color: white;
  border-radius: 4px;
  background-color: blue;
  border: 1px solid blue;
  cursor: pointer;
}

.buttonCancel:hover {
  background-color: rgb(104, 104, 237);
  border: transparent;
}

.imgEdit {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  display: block;
}

.imgDel {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  display: block;
}

.mainCheckbox {
  display: inline-flex;
  cursor: pointer;
  margin-right: 10px;
}

.inputCheckbox {
  display: none;
}

.spanCheckbox {
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  background-color: white;
}

.spanCheckbox::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 2px;
  width: 3px;
  height: 5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.mainCheckbox input:checked + .spanCheckbox {
  background-color: rgb(2, 51, 248);
  border: 1px solid rgb(2, 51, 248);
}

.mainCheckbox input:checked + .spanCheckbox::after {
  opacity: 1;
}

.taskText {
  flex: 1;
  margin: 0 10px;
  overflow: auto;
}

.taskTextDone {
  text-decoration: line-through;
  color: grey;
}
