.container {
  display: flex;
  gap: 80px;
  align-items: stretch;
  justify-content: center;
}

.li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 10px 0;
  padding: 0 10px;
  height: 50px;
  border-radius: 4px;
}

.input {
  height: 100%;
}

.button {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.taskText {
  flex: 1;
  margin: 0 10px;
  overflow: auto;
}

.taskTextDone {
  text-decoration: line-through;
  color: #808080;
}

.customIcon {
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.buttonGroup {
  display: flex;
  gap: 12px;
}
