.authBottomForm {
  width: 425px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stylesLogin {
  color: white;
  background-color: purple;
  width: 100%;
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  border-radius: 6px;
}
