.todoPage {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: auto;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 20px;
}

.bottomIndent {
  margin-bottom: 10px;
}
