.todoPage {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: auto;
  padding-top: 20px;
  border-radius: 10px;
  background-color: white;
}
