.pageLayout {
  background-color: rgb(250, 231, 195);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.submitBtn {
  margin-top: 24px;
}
