.pageLayout {
  background-color: #121e38;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-width: 400px;
  width: 500px;
  background-color: #1a2b48;
  border: 1px solid #f0f4f8;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding-top: 30px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.submitBtn {
  margin-top: 24px;
}
