.mainContainer {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: stretch;
  width: 410px;
  height: auto;
  padding: 20px;
  margin: 80px auto 0 auto;
}
