:root {
  --colorImageText: rgb(104, 0, 104);
  --borderRadius: 16px;
  --box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  --labelColor: grey;
  --registrationPageColor: #121e38;
  --backgroundColorAuthPage: rgb(250, 231, 195);
}

.pageLayout {
  background-color: var(--backgroundColorAuthPage);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
}

.auth {
  display: flex;
  min-height: 650px;
  width: 100%;
  max-width: 75rem;
  background-color: white;
  border-radius: var(--borderRadius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  position: relative;
}

.imageForm {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--backgroundColorAuthPage);
  margin: 0.6rem;
  border-radius: var(--borderRadius);
  box-shadow: var(--box-shadow);
}

.img {
  margin: 1rem;
  height: auto;
  max-height: 32rem;
  width: 90%;
  object-fit: cover;
}

.textImageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slogan {
  margin: 0;
  font-size: 1.2rem;
  color: var(--colorImageText);
}

.promoText {
  margin: 0;
  font-size: 1rem;
  color: var(--colorImageText);
}

.authForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerAuthForm {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.authTitle {
  font-size: 2.5rem;
  margin: 0;
}

.formSubtitle {
  margin: 0;
}

.inputValidateForm {
  margin-bottom: 7rem;
}

.formOptions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  align-items: center;
}

.footerAuth {
  display: flex;
  align-items: center;
}

.footerText {
  color: var(--labelColor);
}
