.formControl {
  display: flex;
  margin-bottom: 12px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.formControl :global(.ant-form-item-explain-error) {
  margin-bottom: 0 !important;
}
.formControl :global(.ant-form-item-explain) {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
}

.inputForm {
  width: 300px;
  margin-left: 30px;
  margin-bottom: 0;
  height: 40px;
  border-bottom: 1px solid #1677ff;
}

.heightControl {
  height: 40px;
}
